<section>
	<h2 data-bind="text: displayName"></h2>
	<div class="row">
		<table class="table">
			<tbody>
				<tr>
					<td>Project: <select
						data-bind="options: projectList.values,
											optionsText: function(item) { 
               									return item.projectName; 
						                   }, 
						                   optionsValue: 'projectId',
						                   value: registration().projectId, 
						                   optionsCaption: 'Project...'">
					</select>
					</td>
				</tr>
				<tr>
					<td>Splunk: <select
						data-bind="options: splunkList,
											optionsText: function(item) { 
               									return item.name; 
						                   }, 
						                   optionsValue: 'id',
						                   value: registration().splunkId, 
						                   optionsCaption: 'Splunk...'">
					</select>
					</td>
				</tr>
				<!--
  				<tr>
					<td>
						<table class="table table-bordered table-hover table-condensed">
							<thead>
								<tr>
									<th>Webhooks</th>
									<th><button data-bind="click: $root.addWebhook.bind($data, $root)">Add Webhook</button></th>
								</tr>
							</thead>
							<tbody data-bind="foreach: registration().webhooks()">
								<tr>
									<td data-bind="click: $root.editWebhook.bind($data, $parent)"><span data-bind="text:$data.webhookComman"></span></td>
									<td><button data-bind="click: $root.removeWebhook.bind($data, $parent)">Delete</button></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
-->
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3">
						<button data-bind="click: $root.saveRegistration">Save
							Registration</button>
					</td>
					<td colspan="2">
						<button data-bind="click: $root.cancel">Cancel</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</section>

