<section>
    <h2 data-bind="text: displayName"></h2>
    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
            	<tr>
                	<td>ID</td>
                	<td>Project Id</td>
                	<td>Project Name</td>
                	<td>Destination</td>
                	<td></td>

                </tr>
            </thead>
            <tbody data-bind="foreach: registrations">
                <tr>
                    <td data-bind="click: $root.editRegistration.bind($data, $parent)"><span data-bind="text:id"></span></td>
                    <td data-bind="click: $root.editRegistration.bind($data, $parent)"><span data-bind="text:project.projectId"></span></td>
                    <td data-bind="click: $root.editRegistration.bind($data, $parent)"><span data-bind="text:project.projectName"></span></td>
                    <td data-bind="click: $root.editRegistration.bind($data, $parent)"><span data-bind="text:splunk.name"></span></td>
                    <td>
                    	<button data-bind="click: $root.deleteRegistration.bind($data, $parent)">Delete</button>
                    </td> 
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <button data-bind="click: $root.addRegistration">Add Registration</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>