<section>
	<h2 data-bind="text: displayName"></h2>
	<div class="row">
		<table class="table">
			<tbody>
				<tr>
					<td>Name: <input data-bind="value:splunk().name"></input></td>
				</tr>
				<tr>
					<td>URL: <input data-bind="value:splunk().url"></input></td>
				</tr>

			</tbody>
			<tfoot>
				<tr>
					<td colspan="3">
						<button data-bind="click: $root.saveSplunk">Save Splunk</button>
					</td>
					<td colspan="2">
						<button data-bind="click: $root.cancel">Cancel</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</section>

