<section>
    <h2 data-bind="text: displayName"></h2>
    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
            	<tr>
                	<td>ID</td>
                	<td>Splunk Name</td>
                	<td>URL</td>
                	<td></td>

                </tr>
            </thead>
            <tbody data-bind="foreach: splunks">
                <tr>
                    <td data-bind="click: $root.editSplunk.bind($data, $parent)"><span data-bind="text:id"></span></td>
                    <td data-bind="click: $root.editSplunk.bind($data, $parent)"><span data-bind="text:name"></span></td>
                    <td data-bind="click: $root.editSplunk.bind($data, $parent)"><span data-bind="text:url"></span></td>
                    <td>
                    	<button data-bind="click: $root.deleteSplunk.bind($data, $parent)">Delete</button>
                    </td> 
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <button data-bind="click: $root.addSplunk">Add Splunk</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>