<section>
	<h2 data-bind="text: displayName"></h2>
	<div class="row">
	    <table class="table">
	        <tbody>   
	            <tr>
	            	<td>   
		            	<table class="table"> 
				            <tr>
				                <td>Command: <input data-bind="value:webhook().webhookCcmmand"></input></td>
				            </tr>
			            </table>
	            	</td>
	            	<td>
	            		    <select data-bind="options: allWebhooks,
                       						optionsText: 'Webhook Command',
                       						value: selectedWebhook,
                       						optionsCaption: 'Choose Existing...',
                       						event: {change: $root.setWebhook}",></select>
	            	</td>
	            </tr>
	        </tbody>
	        <tfoot>
	            <tr>
	                <td colspan="2">
	                    <button data-bind="click: $root.saveWebhook">Save Webhook</button>	               
	                </td>
	               <td colspan="2">
	                    <button data-bind="click: $root.cancel">Cancel</button>
	                </td>                
	            </tr>
	        </tfoot>
	    </table>
	</div>
</section>

